/* Basic Style */
.body {
  background-color: #f8f8f8;
  color: #333;
  font-family: 'Lato', sans-serif;
}

.header__container {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__infomation {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header__container { 
    text-align: center;
  }

}

.page__container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.input, 
.aim__name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.add-aim__wrapper {
  display: flex;
}

.todo-task__list, 
.completed__list {
  margin: 0;
  padding: 0px;
}

.aim, .title {
  list-style: none;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  outline: none;

}
.button:hover {
  color: #3a3a3a;
}

/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 28.5px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 19px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #888;
  outline: none;
}

.input:focus {
  color: #333;
}

/* New Task */
.add-aim__title {
  display: block;
  margin: 15px 0 20px;
}

.add-aim__input {
  width: 318px;
}

/* Task list */
.aim {
  overflow: hidden;
  padding: 19px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aim .button {
  vertical-align: middle;
}

.aim__chekbox {
  margin: 0 10px;
}

.aim__name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.aim .input {
  width: 226px;
}

.img-pointer {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.img-pointer:hover {
  transform: rotateZ(0);
}

/* Completed */
.aim__name-complet {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.aim .input {
  display: none;
}

.aim__edit-mode .input {
  display: inline-block;
  width: 224px;
}

.aim__edit-mode .aim__name {
  display: none;
}